*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    list-style: none;
}
.navbar{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    height: 10vh;
    /* overflow: hidden; */
}

.search-box{
    background: #fff;
    height: 40px;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.search-box:hover input{
  width: 290px;
}
.search-box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition:  0.8s;
    background: transparent;
}
.post-btn{
    font-size: 15px;
    padding: 2px;
    border: none;
    background: transparent;
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}
@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
.search-box .post-btn{
    color: #1daf;
    font-size: 18px;
}
h2{
    color: #3c3c3c;
    font-size: 2rem;
    font-weight: bold;
    margin: 5px;
    background: linear-gradient(
      to right,
      #7953cd 20%,
      #00affa 30%,
      #0190cd 70%,
      #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
  }
  @keyframes textShine {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
}
.img-1{
    border-radius: 50%;
    width: 50px;
    margin-top: 20px;
    border: none;
    position: relative;
    left: 950px;
}
.menu{
    background-color: #8f8d97;
    padding-left: 20px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    left: 925px;
    display: flex;
    flex-direction: column;
}
.hidden{
    display: none;
}

.fa-right-from-bracket{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.5rem;
    margin-right: 10px;
}
.fa-user{
    font-size: 1.5rem;
    margin-right: 10px;
}
.List{
    background-color: #00affa;
    padding: 10px;
}
.leftPart{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: scroll;
    width: 20px;
    height: 40vh;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: underline;
}
.midPart{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 20px;
    margin-left: 30px;
}
.search-box{
    margin-top: 10px;
}
.box{
    padding: 20px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.fa-heart{
    margin-top: 20px;
}
.forlike{
    display: flex;
    justify-content: space-between;
}
.for-like-comment-share{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 100%;
}